<!-- Babblers#index -->
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
  <h1>Babblers</h1>
    <div class="box">
        <p>Here is a place that you can babbler anything what you come up in your mind.</p>
        <p><br>
          Writing just your feelings,<br>
          something you don’t need to tell to someone,<br>
          complains you have, sharing your small happinesses in your daily life.</p><br>
        <p>You don’t expect someone to care.<br>
          but if you can get a small attention, you feel “ it is not bad ”.<br><br>
          Here is that kinf of place you can babble.</p>
          
    </div>
  </div>
</div>


<div class="row col-md-8 col-md-offset-4">
<div class="unq_btn2",>
<!--以下twitter-->
<a href="#">
  <span class="fa-stack">
    <i class="fa fa-tablet fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
</a>
<!--以下facebook-->
<a href="#">
  <span class="fa-stack">
    <i class="fa fa-tablet fa-stack-2x"></i>
    <i class="fa fa-facebook fa-stack-1x"></i>
  </span>
</a>
<!--以下feedly-->
<a href="#">
  <span class="fa-stack">
    <i class="fa fa-tablet fa-stack-2x"></i>
    <i class="fa fa-rss fa-stack-1x"></i>
  </span>
</a>
<!--以下pocket-->
<a href="#">
   <span class="fa-stack">
    <i class="fa fa-tablet fa-stack-2x"></i>
    <i class="fa fa-get-pocket fa-stack-1x"></i>
  </span>
</a>
<!--以下google plus-->
<a href="#">
   <span class="fa-stack">
    <i class="fa fa-tablet fa-stack-2x"></i>
    <i class="fa fa-google-plus fa-stack-1x"></i>
  </span>
</a>
</div>
</div>






