<h1>Babblers#edit</h1>

<div class="container">
  <p><%= notice %></p>
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <%= render 'form' %>
      <%= link_to "Back to Timeline", babblers_path %>
    </div>  
</div>