<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10">
  <h1>What do you babble?</h1>
    <%= render 'form' %>
    <div class="row col-md-2 col-md-offset-10 col-sm-10">
    <%= link_to "Back to Timeline", babblers_path, class: "btn_normal btn-md"%>
    </div>
  </div>
</div>
